@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"


.sectionn
    background-image: url("../../public/images/main_bg.jpg")
    background-repeat: none
    position: relative
    padding: 75px 

.bottom
    position: absolute
    right: 0px
    bottom: 0px
.left
    position: absolute
    top: 0px
    left: 0px
.right
    position: absolute
    top: 0px
    right: 0px
.hello
    position: absolute
    left: 0px
    bottom: 0px

.media
    align-items: center
    border-bottom-style: dotted 

    

.nav-link
    border-bottom: 1px solid grey 
    border-right: 4px solid red 

.row
    padding: 87px 
    

.hrimg
    border-bottom: 1px solid grey 


.meetchef
    background-image: url(../../public/images/team_background.jpg) 

.textist 
    position: relative  
    z-index: -1


.sectionform
    background-image: url("../../public/images/main_bg.jpg")
    width: 100%
    height: 1500px
.divform
    background-color: white
    height: 1350px
    position: relative
    top: 50px
    .greyhautgauche
        position: absolute
        top: 0
        left: 0
    .greyhautdroite
        position: absolute
        top: 0
        right: 0
    .greybasgauche
        position: absolute
        bottom: 0
        left: 0
    .greybasdroite
        position: absolute
        bottom: 0
        right: 0
.formimg
    background-image: url(../../public/images/book_table_bg.jpg)
    border-radius: 16px
    width: 65%
    margin: 50px 0px 50px 200px
    button
        border-radius: 24px
        margin: 10px
    input
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
    select
        width: 300px
        border-radius: 16px
        margin: 0px 0px 10px 20px
.blog
    img
        border: 3px solid lightgrey
        border-radius: 16px
        margin-top: 50px
    span
        background-color: red
        border-radius: 10px
        padding: 10px 10px
        position: relative
        left: 90px
        top: -15px
        color: white 

.knowmore button
    border-radius: 16px 

.knowmore
    padding-bottom: 45px
    z-index: -1



.form-control 
    color: black 

::placeholder 
    color: black 

     
.testmimg 
    background-image: url(../../public/images/testimonials_background.jpg)
    height: 500px
.blondasse 
    img 
        border-radius: 50%
        border: 3px solid white
        margin: 10px
.textfemme 
    border: 2px solid grey
    border-radius: 10px
    padding: 5px 5px

.marginfemme 
    margin-left: 105px




.contact 
    background-image: url("../../public/images/main_bg.jpg") 
    







.rrouge
    background-color: #d80249 
    border-radius: 15px 
    width: 450px
    list-style: none 
    margin-left: 450px
    margin-top: 50px
    color: white 
    padding-top: 20px 







